*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
font-family: Arial, sans-serif;
background: #fffafc;
color: #333;
line-height: 1.6;
}

header{
background: #ff69b4;
color: white;
text-align: center;
padding: 20px;
}

.logo h1{
margin-bottom: 5px;
}

nav ul{
list-style: none;
margin-top: 15px;
}

nav ul li{
display: inline-block;
margin: 0 10px;
}

nav ul li a{
color: white;
text-decoration: none;
font-weight: bold;
}

nav ul li a:hover{
text-decoration: underline;
}

.hero{
text-align: center;
padding: 80px 20px;
background: linear-gradient(rgba(255,105,180,0.2),
rgba(255,105,180,0.2));
}

.hero h2{
font-size: 40px;
margin-bottom: 15px;
}

.hero p{
max-width: 700px;
margin: auto;
margin-bottom: 25px;
}

.btn{
display: inline-block;
background: #ff69b4;
color: white;
padding: 12px 25px;
border-radius: 8px;
text-decoration: none;
transition: 0.3s;
}

.btn:hover

.destacados{
padding: 50px 20px;
text-align: center;
}

.destacados h2{
margin-bottom: 30px;
}

.productos{
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 25px;
}

.producto{
background: white;
width: 300px;
border-radius: 12px;
overflow: hidden;
box-shadow: 0 2px 10px rgba(0,0,0,0.1);
padding-bottom: 15px;
}

.producto img{
width: 100%;
height: 220px;
object-fit: cover;
}

.producto h3{
margin: 15px 0 10px;
}

.producto p{
padding: 0 15px;
}

.producto strong{
display: block;
margin-top: 10px;
color: #ff1493;
font-size: 20px;
}

.sobre-nosotros{
padding: 50px 20px;
text-align: center;
background: #ffe6f2;
}

.sobre-nosotros h2{
margin-bottom: 15px;
}

.beneficios{
padding: 50px 20px;
text-align: center;
}

.beneficios h2{
margin-bottom: 30px;
}

.beneficio{
max-width: 600px;
margin: 20px auto;
background: white;
padding: 20px;
border-radius: 10px;
box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

footer{
background: #ff69b4;
color: white;
text-align: center;
padding: 20px;
margin-top: 40px;
}

@media(max-width:768px){

```
.hero h2{
    font-size: 30px;
}

nav ul li{
    display: block;
    margin: 10px 0;
}

.producto{
    width: 90%;
}
```

}
#pedidoModal{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.6);
z-index:9999;
}

#pedidoModal form{
background:white;
width:90%;
max-width:500px;
margin:80px auto;
padding:30px;
border-radius:15px;
box-shadow:0 0 20px rgba(0,0,0,0.3);
}

#pedidoModal h2{
text-align:center;
margin-bottom:20px;
color:#ff69b4;
}

#pedidoModal input{
width:100%;
padding:12px;
border:1px solid #ddd;
border-radius:8px;
margin-bottom:15px;
font-size:16px;
}

#pedidoModal .btn{
width:100%;
border:none;
cursor:pointer;
}

.cerrar-modal{
float:right;
font-size:28px;
cursor:pointer;
font-weight:bold;
}
